/*.cats {
  max-width: 500px;
}
footer {
  background-color: grey;
}
h1 {
  font-size: 3rem;
}
*/
.content-box{
  height: 5em;
  padding: 4em;
  border: 1em;
  border-style: solid;
  margin: 1em;
}
#border-box{
  box-sizing: border-box;
}
